# ===========================
# Build
# ===========================
build/
cmake-build-*/
out/

# ===========================
# CMake
# ===========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
install_manifest.txt

# ===========================
# Executáveis
# ===========================
*.exe
*.out
*.app

# ===========================
# Objetos
# ===========================
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# ===========================
# Debug
# ===========================
*.pdb
*.ilk

# ===========================
# Logs
# ===========================
*.log

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Dev-C++
# ===========================
*.layout
*.depend

# ===========================
# CLion
# ===========================
.idea/

# ===========================
# Visual Studio
# ===========================
.vs/
*.vcxproj.user
*.suo

# ===========================
# Sistema
# ===========================
.DS_Store
Thumbs.db